################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/lib/RxUI/Debug
/lib/VNSubtitle/Debug
/src/TestWindow/Debug
/lib/RxUI/Release
/lib/RxUI/x64
/lib/VNSubtitle/Release
/Release
/src/TestWindow/Release
